* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}

body {
  background-color: #1f1f1f;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 5% 10%;
}

.section-auto {
  width: 100%;
  height: auto;
  padding: 5% 10%;
}

.double-section {
  width: 100%;
  height: 200vh;
  padding: 5% 10%;
}

.triple-section {
  width: 100%;
  height: 300vh;
  padding: 5% 10%;
}

.bg-center, #contact-banner, #detox-banner, #purchase-banner, #banner, .product-4, .product-3, .product-2, .product-1, #welcome {
  background-position: center;
  background-size: cover;
}

.header-nav {
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.header-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.header-nav-link {
  font-size: 1em;
  font-weight: 300;
  transition: 1.5s;
  background-image: linear-gradient(#fff, #D8D8D8);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2%;
}
.header-nav-link:hover {
  background-image: linear-gradient(#fff, #D8D8D8);
  background-size: 100% 5px;
}

.logo {
  font-size: 4em;
  font-weight: 600;
  animation-name: colorchange;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-delay: 0s;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo span {
  font-weight: 900;
  color: transparent;
}

.logo-sm {
  font-weight: 600;
}
.logo-sm span {
  font-weight: 900;
}

.hero-title {
  font-size: 2em;
  text-align: center;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 1.6em;
  line-height: 1;
  text-align: center;
  font-weight: 700;
}

.section-subtitle {
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  font-weight: 400;
}

.section-text {
  font-size: 1.1em;
  text-align: center;
  font-weight: 200;
  text-transform: capitalize;
  line-height: 2;
}

.box-title {
  font-size: 1.3em;
  font-weight: 900;
}

.box-description {
  font-size: 0.9em;
  font-weight: 200;
}

.box-text {
  font-size: 0.9em;
  font-weight: 100;
}

.button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #1f1f1f;
  font-size: 1.2em;
  transition: 1.5s;
}
.button a {
  font-weight: 600;
  line-height: 2;
}
.button:hover {
  border: 0.3rem solid #FFFFFF;
}

.box-button {
  margin: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #1f1f1f;
  font-size: 1em;
  transition: 1.5s;
}
.box-button a {
  font-weight: 600;
  line-height: 2;
}
.box-button:hover {
  border: 0.3rem solid #FFFFFF;
}

.button-input {
  margin: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #1f1f1f;
  font-size: 0.9em;
  transition: 1.5s;
}
.button-input a {
  font-weight: 600;
  line-height: 1.5;
}
.button-input:hover {
  border: 0.3rem solid #FFFFFF;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list-title {
  font-weight: 900;
  font-size: 1.8em;
}

.list-subtitle {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 1em;
}

.footer-link {
  font-size: 0.9em;
}

.copyrights {
  font-size: 0.8em;
  text-align: center;
  font-weight: 100;
  text-transform: capitalize;
  transition: 1.5s;
}
.copyrights:hover {
  background-image: linear-gradient(to right, #F9D949, #9A208C, #16FF00);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/21.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 5% 10%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}

.products-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.product-box {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  text-align: center;
}

.product-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/21.jpg);
}

.product-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/24.jpg);
}

.product-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/7.jpg);
}

.product-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/28.jpg);
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/37.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.galery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, auto);
  gap: 0.5rem;
}
.galery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-one {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.step-one .inputs-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.step-two {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.step-three {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.step-four {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.value-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#delivery {
  background-color: #B0DAFF;
}

#purchase-banner {
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/21.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

#detox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.detox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 5%;
}
.detox-container .img-box {
  width: 15rem;
  height: 15rem;
}
.detox-container .img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#detox-banner {
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/28.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

#location {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#location iframe {
  width: 100%;
  height: auto;
  margin: 1rem;
}

#contact-info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

#contact-banner {
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/25.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 3em;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .header-nav-link {
    font-size: 1em;
    font-weight: 300;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    text-align: center;
  }
  .list-title {
    font-size: 1.2em;
  }
  .list-subtitle {
    font-size: 0.8em;
  }
  .footer-link {
    font-size: 0.6em;
  }
  .copyrights {
    font-size: 0.8em;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
  }
  #purchase-banner {
    height: 25vh;
  }
  #detox-banner {
    height: 25vh;
  }
  #contact-banner {
    height: 25vh;
  }
}
@media only screen and (min-width: 1024px) {
  .logo {
    font-size: 2em;
  }
  .hero-title {
    font-size: 4.5em;
  }
  .section-title {
    font-size: 3em;
  }
  .section-subtitle {
    font-size: 2em;
  }
  .section-text {
    font-size: 1.5em;
  }
  .box-title {
    font-size: 1.5em;
    font-weight: 900;
  }
  .box-description {
    font-size: 1.2em;
    font-weight: 200;
  }
  .box-text {
    font-size: 1em;
    font-weight: 100;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0%;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .header-nav-link {
    font-size: 1.5em;
    font-weight: 300;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    text-align: center;
  }
  .list-title {
    font-size: 1.5em;
  }
  .list-subtitle {
    font-size: 1.2em;
  }
  .footer-link {
    font-size: 1em;
  }
  .copyrights {
    font-size: 1em;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
  }
  #purchase-banner {
    height: 35vh;
  }
  #detox-banner {
    height: 35vh;
  }
  #contact-banner {
    height: 35vh;
  }
  .galery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
  }
  .galery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@keyframes colorchange {
  0% {
    background-color: #F9D949;
  }
  10% {
    background-color: #9A208C;
  }
  25% {
    background-color: #16FF00;
  }
  50% {
    background-color: #FF6000;
  }
  75% {
    background-color: #41644A;
  }
  100% {
    background-color: #F6E1C3;
  }
}

/*# sourceMappingURL=style.css.map */
