.button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: $bg-dark;
    font-size: 1.2em;
        a {
            font-weight: 600;
            line-height: 2;
        }
}
.box-button {
    margin: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: $bg-dark;
    font-size: 1em;
        a {
            font-weight: 600;
            line-height: 2;
        }
}
.button-input {
    margin: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: $bg-dark;
    font-size: 0.9em;
        a {
            font-weight: 600;
            line-height: 1.5;
        }
}