
.footer-nav {
    @include d-flex (column,space-between,flex-start,wrap,0.5rem)
}

.list-title{
    font-weight: 900;
    font-size: 0.9em;
}
.list-subtitle{

    font-weight: 300;   
}

.footer-link {
    font-size: 0.8em;
}

.copyrights {
    font-size: 0.8em;
    text-align: right;
    font-weight: 100;
    text-transform: capitalize;
}

