footer {
    @include d-flex (column,space-between,center,wrap,0); 

}
.footer-nav {
    @include d-flex (column,space-between,flex-start,wrap,0.5rem);
}
.list-title{
    font-weight: 900;
    font-size: 2.2em;
}
.list-subtitle{
    font-weight: 100; 
    text-transform: capitalize; 
    font-size: 1.5em;
}
.footer-link {
    font-size: 1.1em;
}
.copyrights {
    font-size: 0.8em;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
}

