.logo {
    font-size: 3em;
    font-weight: 600;
        span {
            font-weight: 900;
        
        }
}

.logo-sm {
    font-weight: 600;
        span {
            font-weight: 900;
        
        }
}