.logo {
    font-size: 4em;
    font-weight: 600;

    animation-name: colorchange;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-delay: 0s;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
        span {
            font-weight: 900;
            color: transparent;
        }
    }

.logo-sm {
    font-weight: 600;
        span {
            font-weight: 900;
        
        }
}