.header-nav {
    padding: 1%;
    text-align: center;
    @include d-flex (column,space-between,center,wrap,0.5rem);
    &-list {
        @include d-flex (column,space-around,center,wrap,0.5rem);
    }
    &-link {
        font-size: 1em;
        font-weight: 300;
    }
}

