.header-nav {
    padding: 1%;
    text-align: center;
    @include d-flex (column,space-between,center,wrap,0.5rem);
    &-list {
        @include d-flex (column,space-around,center,wrap,0.5rem);
    }
    &-link {
        font-size: 1em;
        font-weight: 300;
        transition:1.5s;
        background-image: linear-gradient(#fff,#D8D8D8);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2%;
        &:hover{
            background-image: linear-gradient(#fff,#D8D8D8);
            background-size: 100% 5px;

        }
        
    }
}

