.section {
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
}
.section-auto {
    width: 100%;
    height: auto;
    padding: 5% 10%;
}

.double-section {
    width: 100%;
    height: 200vh;
    padding: 5% 10%;
}
.triple-section {
    width: 100%;
    height: 300vh;
    padding: 5% 10%;
}



@mixin d-flex ($direction,$justify,$align, $wrap,$gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin d-grid ($columns,$rows,$gap) {
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    grid-template-rows: repeat($rows,1fr);
    gap: $gap;
}


.bg-center{
    background-position: center;
    background-size: cover;
}